## Analysis of First Innings Scoring in Early Season English County Championship Matches

In [1]:
import agate

In [2]:
matches = agate.Table.from_csv('english_county_championship_innings.csv')

In [3]:
print matches

|-----------------------------+---------------|
|  column_names               | column_types  |
|-----------------------------+---------------|
|  team1                      | Text          |
|  team1_id                   | Number        |
|  team2                      | Text          |
|  team2_id                   | Number        |
|  win_toss                   | Number        |
|  bat_or_bowl                | Text          |
|  outcome                    | Text          |
|  win_game                   | Number        |
|  month                      | Number        |
|  year                       | Number        |
|  start_date                 | Date          |
|  end_date                   | Date          |
|  day/night                  | Text          |
|  country                    | Text          |
|  ground                     | Text          |
|  match_id                   | Number        |
|  type_of_match              | Text          |
|  match_type_id              | Number        |
|  home_team_id               | Number        |
|  first_innings_runs         | Number        |
|  first_innings_batting_team | Text          |
|  url                        | Text          |
|-----------------------------+---------------|

In [21]:
grounds = matches.where(lambda row: row['month'] == 4 or row['month'] == 5).where(lambda row: row['year'] > 2010).group_by('ground')

In [22]:
ground_avg = grounds.aggregate([('first_innings_avg', agate.Mean('first_innings_runs'))])

In [23]:
ground_avg = ground_avg.order_by('first_innings_avg', reverse=True)

In [24]:
ground_avg.print_table(max_column_width=50)

|----------------------------------------+--------------------------------|
|  ground                                |             first_innings_avg  |
|----------------------------------------+--------------------------------|
|  Whitgift School, Croydon              | 548.0000000000000000000000000  |
|  North Marine Road Ground, Scarborough | 447.0000000000000000000000000  |
|  County Ground, Taunton                | 389.0625000000000000000000000  |
|  Headingley, Leeds                     | 374.3750000000000000000000000  |
|  Trafalgar Road Ground, Southport      | 370.0000000000000000000000000  |
|  Grace Road, Leicester                 | 356.4000000000000000000000000  |
|  The Rose Bowl, Southampton            | 343.2000000000000000000000000  |
|  County Ground, Hove                   | 338.8823529411764705882352941  |
|  Kennington Oval, London               | 327.7777777777777777777777778  |
|  Trent Bridge, Nottingham              | 312.5000000000000000000000000  |
|  Edgbaston, Birmingham                 | 310.7058823529411764705882353  |
|  Riverside Ground, Chester-le-Street   | 306.2500000000000000000000000  |
|  County Ground, Northampton            | 301.8947368421052631578947368  |
|  Lord's, London                        | 301.2500000000000000000000000  |
|  Nevill Ground, Tunbridge Wells        | 301.0000000000000000000000000  |
|  St Lawrence Ground, Canterbury        | 296.0000000000000000000000000  |
|  County Ground, New Road, Worcester    | 295.4444444444444444444444444  |
|  County Ground, Bristol                | 293.8000000000000000000000000  |
|  County Ground, Derby                  | 288.5555555555555555555555556  |
|  Old Trafford, Manchester              | 288.0000000000000000000000000  |
|  ...                                   |                           ...  |
|----------------------------------------+--------------------------------|

In [25]:
prior_years = matches.where(lambda row: row['month'] == 4 or row['month'] == 5).where(lambda row: row['year'] < 2011 and row['year'] > 2005).group_by('ground')

In [38]:
prior_avg = prior_years.aggregate([('first_innings_avg', agate.Mean('first_innings_runs')), ('matches', agate.Count())])

In [39]:
prior_avg = prior_avg.order_by('first_innings_avg', reverse=True)

In [46]:
prior_avg = prior_avg.where(lambda row: row['matches'] > 5)

In [47]:
prior_avg.print_table(max_column_width=50)

|--------------------------------------+-------------------------------+----------|
|  ground                              |             first_innings_avg | matches  |
|--------------------------------------+-------------------------------+----------|
|  County Ground, Taunton              | 438.9166666666666666666666667 |      12  |
|  Kennington Oval, London             | 422.9230769230769230769230769 |      13  |
|  Headingley, Leeds                   | 390.3333333333333333333333333 |      12  |
|  Grace Road, Leicester               | 388.4166666666666666666666667 |      12  |
|  Sophia Gardens, Cardiff             | 374.0000000000000000000000000 |       8  |
|  County Ground, Chelmsford           | 367.4615384615384615384615385 |      13  |
|  Edgbaston, Birmingham               | 353.1333333333333333333333333 |      15  |
|  County Ground, New Road, Worcester  | 337.8571428571428571428571429 |      14  |
|  St Lawrence Ground, Canterbury      | 331.4000000000000000000000000 |      10  |
|  Riverside Ground, Chester-le-Street | 329.1818181818181818181818182 |      11  |
|  County Ground, Northampton          | 313.9230769230769230769230769 |      13  |
|  Trent Bridge, Nottingham            | 310.3529411764705882352941176 |      17  |
|  County Ground, Hove                 | 305.5714285714285714285714286 |      14  |
|  Lord's, London                      | 299.7000000000000000000000000 |      10  |
|  The Rose Bowl, Southampton          | 295.0769230769230769230769231 |      13  |
|  County Ground, Bristol              | 279.7500000000000000000000000 |      12  |
|  County Ground, Derby                | 258.0000000000000000000000000 |       9  |
|  Old Trafford, Manchester            | 246.7500000000000000000000000 |      12  |
|--------------------------------------+-------------------------------+----------|